
services:
  web:
    build:
      context: .
      dockerfile: docker/dockerfile
    command: gunicorn app.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: django
      POSTGRES_USER: django
      POSTGRES_PASSWORD: django

  redis:
    image: redis:7
    ports:
      - "6379:6379"
  
  celery:
    build:
      context: .
      dockerfile: docker/dockerfile
    command: celery -A app worker -l info
    depends_on:
      - redis
      - db
    volumes:
      - .:/core
  volumes:
    postgres_data